{{ define "main" }}
<article>
    <header>
        <h1>{{- .Title -}}</h1>
        <div>
            <section>
                <span>{{ .PublishDate.Format "Jan 2, 2006" }} • {{ div .WordCount 250 }} mins</span>
            </section>
            {{ partial "categories.html" . }}
            {{ partial "tags.html" . }}
        </div>
    </header>
    <div>
        {{ .Content }}
    </div>
    <footer>
        <div>
            {{ with .PrevInSection }}
                Previous Article: <a class="previous" href="{{- .Permalink -}}"> {{.Title}}</a>
            {{ end }}
            {{ with .NextInSection }}
                Next Article: <a class="next" href="{{- .Permalink -}}"> {{.Title}}</a>
            {{ end }}
        </div>
    </footer>
</article>
{{ end }}