$dividerColour: #ddd;

* {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

    color: #515151;

    &:after,
    &:before {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
}
h1 {
    font-size: 2rem;
}
h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.25rem;
}
h4, h5, h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body {
    background-color: #f8f8f8;
}

.container {
    max-width: 38rem;
    padding-left:  1rem;
    padding-right: 1rem;
    margin-left:  auto;
    margin-right: auto;
}

aside.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: #333;

    a {
        color: inherit;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 48em) {
    aside.sidebar {
        ul {
            li {
                display: inline-block;

                &:not(:last-child):after {
                    content: " • ";
                }
            }
        }
    }
}
@media (min-width: 48em) {
    aside.sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 18rem;
        text-align: left;
    }
}

main.content {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 48em) {
    main.content {
        padding-top: 2rem;
    }
}
@media (min-width: 48em) {
    main.content {
        max-width: 38rem;
        margin-left: 20rem;
        margin-right: 2rem;
    }
}

@media (min-width: 64em) {
    main.content {
        margin-left: 22rem;
        margin-right: 4rem;
    }
}


.pages {
    list-style: none;
    padding: 0;

    li {
        a {
            text-decoration: none;

            &:hover {
                color: black;
                text-decoration: underline;
            }
        }

        &:not(:last-child) {
            border-bottom: 1px $dividerColour solid;
            padding-bottom: 1rem;
        }
    }
}

article {
    footer {
        border-top: 1px $dividerColour solid;
        padding-top: 1rem;
    }
}

ul#tags {
    list-style: none;
    padding: 0;

    li {
        border: 1px $dividerColour solid;
        padding: 4px;
        display: inline-block;

        &:hover {
            border: 1px #000 solid;
        }

        a {
            text-decoration: none;
        }
    }
}

div.previous {
    float: left;
    max-width: 50%;
}
div.next {
    float: right;
    max-width: 50%;
}