{{ define "main" }}

<p>
    An Imperial College London graduate looking to build a smarter world and improve the lives of others one concise, considered solution at a time.
</p>

<p>
    Solving current problems by finding inventive new applications for bleeding-edge technology is my ambition and passion. I strive to learn new approaches, languages, technologies, and paradigms where and when possible whilst producing solutions that are functional, performant, elegant, as well as thoroughly planned, tested, and documented. If anything is worth doing, it's worth perfecting.
</p>


<p>
    Solid grounding in software engineering practices, patterns, paradigms. Most confident with C#, Java, and Python and libraries such as ASP.NET etc. View my LinkedIn profile or request a CV for a more detailed breakdown.
</p>

<p>
    Work aside, I'm a keen PC gamer, writer, cyclist, and footballer.
</p>


{{ end }}