:root {
    --primary-colour: darkcyan;
    --secondary-colour: firebrick;
}

* {
    font-family: Verdana, Geneva, sans-serif;
}

html {
    margin: 0 auto;
    overflow-y: scroll;
}

body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
}

#website-title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;

    padding: 1.5rem 0 0.5rem 0;
}

nav {
    display: flex;
    align-items: left;
    flex-direction: row;
}

nav > ul {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav > ul > li {
    display: block;
    padding: 0;
    margin: 0;
    float: left;

    font-size: 1.1rem;
}

nav a {
    display: block;
    padding: 10px;

    color: whitesmoke;
    font-weight: 700;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav li:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

a {
    color: var(--primary-colour);
}

a[href^="http://"]:not([href*="andyls.co.uk/"])::after,
a[href^="https://"]:not([href*="andyls.co.uk/"])::after {
    background-image: url(external-link.svg);
    content: " ";
    display: inline-block;
    background-size: cover;
    width: 1em;
    height: 0.9em;
    margin-left: 2px;
    background-repeat: no-repeat;
}

a[href="#top"]::after {
    content: "↑";
}

hr {
    color: whitesmoke;
    width: 100%;
}

article header h1 {
    margin-bottom: 0.25rem;
}

.primary {
    background-color: var(--primary-colour);
    color: whitesmoke;
}

.secondary {
    background-color: var(--secondary-colour);
    color: whitesmoke;
}

header#website-title a {
    text-decoration: none;
    color: whitesmoke;
}

header#website-title a:hover {
    text-decoration: underline;
}

footer {
    font-size: 0.9rem;
}


@media (prefers-color-scheme: dark) {
    html {
        background-color: hsl(0, 0%, 10%);
        color: whitesmoke;
    }

    a {
        color: cyan;
    }
}
