{{ define "main" }}
<article>
    <header>
        <h1>{{- .Title -}}{{- if (eq .Draft "true") -}}[Draft]{{- end -}}</h1>
        <span class="info">
            {{ .PublishDate.Format "Jan 2, 2006" }} • {{ div .WordCount 250 }} mins •
            {{- partial "categories.html" . -}}
            <br />
            {{- if not (eq .Lastmod .PublishDate) -}}
            Last updated: {{ .Lastmod.Format "Jan 2, 2006" }}
            {{- end -}}
        </span>
        {{ partial "tags.html" . }}
    </header>
    <div>
        {{ .Content }}
    </div>
    <footer>
        <div>
            {{ with .PrevInSection }}
            <div class="previous">
                < <a href="{{- .Permalink -}}"> {{.Title}}</a>
            </div>
            {{ end }}
            {{ with .NextInSection }}
            <div class="next">
                <a href="{{- .Permalink -}}"> {{.Title}}</a> >
            </div>
            {{ end }}
        </div>
    </footer>
</article>
{{ end }}