<header>
    <h1 class="navigation-title">{{- .Site.Title -}}</h1>
    <nav>
        {{- $currentPage := . -}}
        {{- $url := .URL -}}
        <ul class="left">
        {{ range .Site.Menus.main }} 
            {{- $icon := printf "<i data-feather=\"%s\"></i>" .Pre -}}
            {{- $text := print .Name | safeHTML -}}
            {{- $active := eq $url .URL -}}
            {{- $active := or $active ($currentPage.IsMenuCurrent "main" .) -}}
            {{- $active := or $active ($currentPage.HasMenuCurrent "main" .) -}}
            {{- $active := or $active (and (eq .URL "/blog/") (eq $currentPage.Section "blog")) }}
            {{- $active := or $active (and (eq .URL "/projects/") (eq $currentPage.Section "projects")) }}
            <li>
                <a class="nav-link{{ if $active }} active{{ end }}" href="{{- .URL -}}" title="{{- $text -}}">{{- $text -}}</a>
            </li>
        {{ end }}
        </ul>
        <ul class="right">
            <li>
                <a href="https://www.github.com/andylshort">github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/andylshort">linkedin</a>
            </li>
            <li>
                <a href="https://www.twitter.com/andylshort">twitter</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </nav>  
</header>